.bg-container {
  background-color: #f1f5f8;
  max-width: 600px;
  width: 100%;
  border-radius: 10px !important;
}

.errCard {
  background-color: #f8d7da !important; /* Light red background */
}

.bordered-box {
  border: 1px solid #bdbdbd;
  background-color: #f1f5f8;
}

.dotted-box {
  border: 3px dashed #366746;
}

.file-upload1 i {
  color: #333;
}

.file-upload1 span,
.file-upload1 p {
  color: #4f4f4f;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}

.file-upload1 button {
  margin-top: 10px;
}

.width-95 {
  width: 95% !important;
}
.modal-backdrop-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Darken the background */
  backdrop-filter: blur(8px); /* Blur effect */
  z-index: 1050;
}

.modal-content {
  z-index: 1050; /* Ensure the modal content is on top of the backdrop */
}

.vc-cardL {
  background: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  height: auto;
  min-height: 250px;
  width: 300px;
  padding: 15px;
  border-radius: 4px;
  border: #80808029 solid 1px;
  font-size: 14px;
  width: 318px;
}

table {
  width: 100%;
}

td,
th {
  text-align: left;
  padding: 8px;
}

#vcSpinner {
  position: relative;
}

.p24 {
  font-size: 24px;
}
/* // ------------------------------------------------------ */

.verifierLabel {
  color: #696f79;
  font-family: 'Manrope', sans-serif;
}

.verifierInput {
  border: 1px solid #bab6b6 !important;
  padding: 14px 26px;
  border-radius: 5px !important;
  color: #8692a6;
  font-size: 14px !important;
  line-height: 28px;
  font-weight: 700;
  width: 100%;
  box-shadow: none !important;
  background-color: #f1f5f8 !important;

  &:focus-visible {
    border: 1px solid #bab6b6 !important;
    background-color: #f1f5f8 !important;
    outline: none !important;
  }
}

@media screen and (max-device-width: 1000px), screen and (max-width: 1400px) {
  .vc-scanW {
    width: 40%;
  }
}

@media screen and (max-device-width: 100px), screen and (max-width: 1000px) {
  .vc-scanW {
    width: 70%;
  }
}

.CancelButtonVerifier {
  width: fit-content !important;
  padding: 15px 20px;
  font-size: 16px !important;
  font-weight: 700 !important;
  line-height: 22px !important;
}

.verifyNowButtonVerifier {
  width: fit-content !important;
  padding: 15px 80px !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  line-height: 22px !important;
}
