<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="dropdown-container mb-20">
                    <select class="form-select" (change)="onDocumentChange($event)">
                        <option [value]="null" disabled selected>Select Document Type</option>
                        <option class="fs-16" *ngFor="let certificate of certificates"
                            [value]="certificate.documentSubType">
                            {{ certificate.name }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="table-container">
        <table class="table table-striped" *ngIf="certificateList.length > 0">
            <thead>
                <tr>
                    <th *ngFor="let field of tableSchema?.fields">{{ field.label }}</th>
                </tr>
            </thead>
            <tbody>
                <!-- Paginated table content -->
                <tr *ngFor="let item of certificateList | paginate: { itemsPerPage: limit, currentPage: page }">
                    <ng-container *ngFor="let field of tableSchema?.fields">
                        <td *ngIf="!field.type || field.type !== 'button'; else buttonCell">
                            <ng-container *ngIf="field.formatter; else rawValue">
                                {{ field.formatter(item[field.key]) }}
                            </ng-container>
                            <ng-template #rawValue>
                                {{ item[field.key] }}
                            </ng-template>
                        </td>
                    </ng-container>
                </tr>
            </tbody>
        </table>
        <pagination-controls *ngIf="certificateList.length > 0" class="my-4 text-center paginationWrapper"
            (pageChange)="page = $event" previousLabel="{{'PREVIOUS' | translate}}" nextLabel="{{'NEXT' | translate}}">
        </pagination-controls>
        <!-- Table to show "No Records Found" -->
        <table class="text-center w-100 mt-250" *ngIf="certificateList.length === 0">
            <tbody class="fs-5">
                <td [attr.colspan]="tableSchema?.fields?.length || 1" class="fs-20 fw-400 lh-27">
                    <h2>{{ 'NO_RECORDS_FOUND' | translate }}</h2>
                </td>
            </tbody>
        </table>


    </div>
    <app-confirm-modal></app-confirm-modal>
</div>