<div class="content-body">

  <div class="container mt-5 text-center bordered-box">
    <label class="fs-16 fw-bold titleClr-g">Download Templates</label>

    <div class="file-download-box  dotted-box ">
      <img  class="download-icon" src="assets/images/File-fill.png" /><br />
      <button class="btn fs-16 mb-2 btn-primary dsn-g-btn" (click)="downloadTemplate('middle basic')">Download Middle Basic Template</button> 
      <button class="btn fs-16 mb-2 btn-primary dsn-g-btn" (click)="downloadTemplate('bcece')">Download Upper Basic Template</button>

    </div>
    
  </div>
  <app-confirm-modal></app-confirm-modal>

  
</div>