.file-download-box {
  border: 2px dashed #ccc; /* Dotted border */
  padding: 20px; /* Padding inside the box */
  margin: 0 auto; /* Center the box */
  width: 500px; /* Fixed width for the box */
  border-radius: 8px; /* Rounded corners */
}
.download-icon {
  width: 75px; /* Adjust icon size */
  height: auto; /* Maintain aspect ratio */
}

.dotted-box {
  border: 3px dashed #366746;
}

