.modal-header,
.modal-footer,
.modal-body {
  border: none;
  /* Removes borders around the modal sections */
}

.dotted-box {
  padding: 40px;
  font-family: "Poppins", sans-serif;
}

.bordered-box {
  border: 2px solid #bdbdbd;
  // background-color: #F1F5F8;
  margin: 0 70px !important;
}

// .btn-primary {
//   width: 325px !important;
// }

.modal-content {
  // height: 500px;
  height: auto;
}

.modalBoxInside {
  padding: 16px 20px;
  padding-bottom: 5px;

  .modal-title {
    margin-bottom: 33px;
  }
}

.modalHeader {
  position: absolute;
  right: 19px;
  top: 20px;
  padding: 0px;
}

.modalContentWrapper {
  padding: 15px 0px;
}