<app-header [headerFor]='header'></app-header>
<div class="container">
    <ng-template [ngIf]="loader">
        <br>
        <div class="d-flex justify-content-center">
            <div class="spinner-border" style="width: 5rem; height: 5rem;" role="status">
                <span class="sr-only">{{'LOADING'|translate}}</span>
            </div>
        </div>
    </ng-template>
    <div class="contain mt-5 mb-20">
        <ng-template [ngIf]="!hasDocs && !loader">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 mb-3">
                    <h6>
                        <b>{{'GET_STARTED'|translate}}</b>
                    </h6>
                    <p>{{'YOU_CAN_UPLOAD_YOUR_DOCUMENTS_AND_TAG_IT_FOR_EASY_ACCESS'|translate}}</p>
                    <div class="card">
                        <div class="card-body">

                            <ul class="list-group add-documentList" style="width: 100%;">
                                <h6>{{'ADD_DOCUMENT'|translate}}</h6>
                                <li class="d-flex py-2 bb-1">
                                    <span class="fs-14 mr-2 icon-color"><i class="fa fa-upload"></i></span>
                                    <span>
                                        <a [routerLink]="['add','upload']" data-dismiss="modal" aria-label="Close">
                                            {{'UPLOAD_DOCUMENT'|translate}}
                                        </a>
                                        <span
                                            class="d-block fs-12 mt-2 text-grey">{{'UPLOAD_DOCUMENT_SUB'|translate}}</span>
                                    </span>
                                </li>
                                <li class="d-flex py-2 bb-1">
                                    <span class="fs-14 mr-2 icon-color"><i class="fa fa-camera"></i></span>
                                    <span>
                                        <a [routerLink]="['add','scan']" data-dismiss="modal" aria-label="Close">
                                            {{'SCAN_DOCUMENT'|translate}}
                                        </a>
                                        <span
                                            class="d-block fs-12 mt-2 text-grey">{{'SCAN_DOCUMENT_SUB'|translate}}</span>
                                    </span>
                                </li>
                                <li class="d-flex py-2 bb-1">
                                    <span class="fs-14 mr-2 icon-color"><i class="fa fa-qrcode"></i></span>
                                    <span>
                                        <a [routerLink]="['scan','vc']" data-dismiss="modal" aria-label="Close">
                                            {{'SCAN_QR_CODE'|translate}}
                                        </a>
                                        <span
                                            class="d-block fs-12 mt-2 text-grey">{{'SCAN_QR_CODE_SUB'|translate}}</span>
                                    </span>
                                </li>
                                <li class="d-flex py-2">
                                    <span class="fs-14 mr-2 icon-color"><i class="fa fa-search"></i></span>
                                    <span>
                                        <a [routerLink]="['browse']" data-dismiss="modal" aria-label="Close" class="">

                                            {{'BROWSE_DOCUMENT'|translate}}
                                        </a>
                                        <span
                                            class="d-block fs-12 mt-2 text-grey">{{'BROWSE_DOCUMENT_SUB'|translate}}</span>
                                    </span>
                                </li>
                            </ul>
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template [ngIf]="hasDocs && documents">
            <div class="row mb-3">
                <div class="col-12">
                    <h6 class="font-weight-bold headerTitleColor">{{'MY_DOCUMENTS'|translate}}</h6>
                </div>
            </div>
            <div class="row">
                <div *ngFor="let docs of documents; index as i;" class="mb-3 col-sm-12 col-md-6 col-lg-4 col-xs-2">
                    <!-- {{docs[i].osid}} -->
                    <a [routerLink]="['view',docs[0].type,docs[0].osid]">
                        <div class="card height-100">
                            <div class="card-body">
                                <div class="card-intro-info">
                                    <ng-template ngFor let-doc [ngForOf]="docs" let-i="index">
                                        <div *ngIf="doc.key == 'title' || doc.key == 'name'"
                                            class="card-title mb-2 fs-14">
                                            {{doc.value}}
                                            <ng-template [ngIf]="doc.type == 'attestation-SELF'">
                                                <i class="fas fa-check primarybgColor fs-12 mr-1"></i>
                                            </ng-template>
                                            <ng-template [ngIf]="doc.type == 'attestation-MOSIP'">
                                                <i class="fas fa-award primarybgColor fs-12 mr-1"></i>
                                            </ng-template>
                                            <ng-template [ngIf]="doc.type == 'attestation-DIVOC'">
                                                <i class="fas fa-award primarybgColor fs-12 mr-1"></i>
                                            </ng-template>
                                        </div>
                                    </ng-template>
                                    <div class="fs-12">
                                        <ng-template ngFor let-doc2 [ngForOf]="docs">
                                            <div
                                                *ngIf="doc2.key == 'title' || doc2.key == 'name' || doc2.key == 'fileUrl'; else elseBlock">
                                            </div>
                                            <!-- <div *ngIf="doc2.key == 'fileUrl'">
                                                <a class="tagstextColor" href="/document/view?u={{doc2.value}}">{{'VIEW_DOCUMENT' |
                                                    translate}}</a>
                                            </div> -->
                                            <ng-template #elseBlock>
                                                <div class="card-text text-grey mb-2">{{doc2.value}} </div>
                                            </ng-template>
                                        </ng-template>
                                        <ng-template [ngIf]="docs[0].type == 'attestation-MOSIP'">
                                            <div class="text-grey"> {{'DIGITALLY_VERIFIED'|translate}} </div>
                                        </ng-template>
                                        <ng-template [ngIf]="docs[0].type == 'attestation-SELF'">
                                            <div class="text-grey">{{'SELF_ATTTESTED'|translate}}</div>
                                        </ng-template>
                                        <ng-template [ngIf]="docs[0].type == 'attestation-DIVOC'">
                                            <div class="text-grey"><i
                                                    class="fa fa-qrcode fs-12 mr-1"></i>{{'DIGITALLY_VERIFIED'|translate}}
                                            </div>
                                        </ng-template>
                                        <!-- <div class="tags-list">
                                                    <ul>
                                                        <li>ID Card</li>
                                                        <li>ID Card</li>
                                                        <li>ID Card</li>
                                                        <li>ID Card</li>
                                                        <li>ID Card</li>
                                                        <li>ID Card</li>
                                                        <li>ID Card</li>
                                                    </ul>
                                                </div> -->
                                    </div>
                                </div>
                                <ng-template [ngIf]="docs[0].type == 'attestation-MOSIP'">
                                    <div class="card-image">
                                        <img [src]="docs[0].logoUrl" onError="this.src='assets/images/slgov.png'" />
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <button class="btn btn-secondary position-fixed btn-icon-circle floating-bottom"
                onClick="window.navigator.vibrate(200);" data-toggle="modal" data-target="#addModal"><i
                    class="fas fa-plus"></i></button>
        </ng-template>

        <ng-template [ngIf]="!hasDocs && !loader">
            <h4 class="font-weight-bold mt-3">{{'BROWSE_ISSUED_DOCUMENTS'|translate}}</h4>
            <ul class="nav nav-tabs mb-3 fs-14" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active fs-14" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                        type="button" role="tab" aria-controls="home"
                        aria-selected="true">{{'BY_DOCUMENT'|translate}}</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link fs-14" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                        type="button" role="tab" aria-controls="profile"
                        aria-selected="false">{{'BY_ISSUER'|translate}}</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link fs-14" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact"
                        type="button" role="tab" aria-controls="contact"
                        aria-selected="false">{{'BY_CATEGORY'|translate}}</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row">
                        <div class="col search-area mb-3">
                            <div class="input-append">
                                <input class="w-100" type="text" placeholder="Search Documents" aria-label="Search">
                                <i class="fas fa-search" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <ng-template ngFor let-item [ngForOf]="documentTypes" let-i="index">
                            <div class="mb-3 col-sm-12 col-md-6 col-lg-4 col-xs-2">
                                <a [routerLink]="['browse','add',item.osid]">
                                    <div class="card height-100">
                                        <div class="card-body">
                                            <div class="card-intro-info">
                                                <div class="card-title mb-2 fs-14">{{item.title}}
                                                </div>
                                                <div class="text-grey fs-12">{{item.issuer}}</div>
                                            </div>
                                            <div class="card-image">
                                                <img src="{{item.logoUrl}}" />
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                    </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
            </div>
        </ng-template>
    </div>
</div>

<!-- Modal -->
<div class="modal fade animate" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content animate-bottom">
            <div class="modal-header px-3 py-2 border-0">
                <h6 class="modal-title font-weight-bold" id="exampleModalLabel"> {{'ADD_DOCUMENT'|translate}}</h6>
                <button type="button" class="close px-3 py-3" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body px-3 pt-0 pb-3">
                <ul class="list-group add-documentList">
                    <li class="d-flex py-2 bb-1">
                        <span class="fs-14 mr-2 icon-color"><i class="fa fa-upload"></i></span>
                        <span>
                            <a [routerLink]="['add','upload']" data-dismiss="modal" aria-label="Close" class="">
                                {{'UPLOAD_DOCUMENT'|translate}}
                            </a>
                            <span class="d-block fs-12 mt-2 text-grey">{{'UPLOAD_DOCUMENT_SUB'|translate}}</span>
                        </span>
                    </li>
                    <li class="d-flex py-2 bb-1">
                        <span class="fs-14 mr-2 icon-color"><i class="fa fa-camera"></i></span>
                        <span>
                            <a [routerLink]="['add','scan']" data-dismiss="modal" aria-label="Close" class="">
                                {{'SCAN_DOCUMENT'|translate}}
                            </a>
                            <span class="d-block fs-12 mt-2 text-grey">{{'SCAN_DOCUMENT_SUB'|translate}}</span>
                        </span>
                    </li>
                    <li class="d-flex py-2 bb-1">
                        <span class="fs-14 mr-2 icon-color"><i class="fa fa-qrcode"></i></span>
                        <span>
                            <a [routerLink]="['scan','vc']" data-dismiss="modal" aria-label="Close" class="">
                                {{'SCAN_QR_CODE'|translate}}
                            </a>
                            <span class="d-block fs-12 mt-2 text-grey">{{'SCAN_QR_CODE_SUB'|translate}}</span>
                        </span>
                    </li>
                    <li class="d-flex py-2">
                        <span class="fs-14 mr-2 icon-color"><i class="fa fa-search"></i></span>
                        <span>
                            <a [routerLink]="['browse']" data-dismiss="modal" aria-label="Close" class="">

                                {{'BROWSE_DOCUMENT'|translate}}
                            </a>
                            <span class="d-block fs-12 mt-2 text-grey">{{'BROWSE_DOCUMENT_SUB'|translate}}</span>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>