<div class="content-body">
    <app-subheader></app-subheader>
    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <th *ngFor="let field of tableSchema?.fields">{{ field.label }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of certificateList">
                    <ng-container *ngFor="let field of tableSchema?.fields">
                        <td *ngIf="!field.type || field.type !== 'button'; else buttonCell">
                            {{ item[field.key] }}
                        </td>
                        <ng-template #buttonCell>
                            <div class="d-flex gap-2">
                                <button
                                    class="btn btn-bg btn-style text-primary-color text-end fw-bold text-capitalize dns-btn pt-2 dsn-g-btn"
                                    *ngFor="let button of field.buttons" (click)="onDownloadButtonClick(item)">
                                    Download
                                </button>
                            </div>
                        </ng-template>
                    </ng-container>
                </tr>

            </tbody>
        </table>
    </div>
    <app-confirm-modal></app-confirm-modal>
</div>