<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="dropdown-container mb-20">
                    <select class="form-select" (change)="onDocumentChange($event)">
                        <option value="">Select Document Type</option>
                        <option class="fs-16" *ngFor="let certificate of certificates"
                            [value]="certificate.documentSubType">
                            {{ certificate.name }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-md-8" *ngIf="certificateList.length > 0">
                <button (click)="onDownloadAllIssuedCertificates()"
                    class="float-right btn btn-bg btn-style text-primary-color text-end fw-bold text-capitalize dns-btn pt-2 dsn-g-btn mb-20">
                    Download All Issued Certificates
                </button>
            </div>

        </div>
    </div>
    <div class="table-container">
        <table class="table" *ngIf="certificateList.length > 0">
            <thead>
                <tr>
                    <th *ngFor="let field of tableSchema?.fields">{{ field.label }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of certificateList">
                    <ng-container *ngFor="let field of tableSchema?.fields">
                        <td *ngIf="!field.type || field.type !== 'button'; else buttonCell">
                            {{ item[field.key] }}
                        </td>
                        <ng-template #buttonCell>
                            <div class="d-flex gap-2">
                                <button
                                    class="btn btn-bg btn-style text-primary-color text-end fw-bold text-capitalize dns-btn pt-2 dsn-g-btn"
                                    *ngFor="let button of field.buttons" (click)="onDownloadButtonClick(item)">
                                    Download
                                </button>
                            </div>
                        </ng-template>
                    </ng-container>
                </tr>
            </tbody>
        </table>

        <!-- Table to show "No Records Found" -->
        <table class="text-center my-5 w-100" *ngIf="certificateList.length === 0">
            <tbody class="fs-5">
                <tr>
                    <td [attr.colspan]="tableSchema?.fields?.length || 1" class="fs-20 fw-400 lh-27">
                        {{ 'NO_RECORDS_FOUND' | translate }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <app-confirm-modal></app-confirm-modal>
</div>